#Middle{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#Bottom{
    position: fixed;
    width: 100%;
    bottom: 0;
}
.Flexbox{
    display: flex;
    flex-direction: row;
}

button, input {
    background-color: black;
    border: 0;
    opacity: 0.5;
    border-radius: 5px;
    color: white;
    :hover {
        opacity: 0.6;
    }
    p {
        margin: 0;
    }
}

.imglittle{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
}
#margin_left{
    margin-left: 5px;
}
#NewG_button{
    margin-top: 10px;
    width:250px;
    height:100px;
    margin-left: 17%;
}
#autocur{
    cursor: auto;
}
button{
    cursor: pointer;
}