/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: openSans;
  src: url("/assets/Fonts/OpenSans-Regular.ttf");
}

body {
  background: rgb(117, 117, 117);
  background: linear-gradient(
    180deg,
    rgba(117, 117, 117, 1) 0%,
    rgba(158, 158, 158, 1) 50%,
    rgba(189, 189, 189, 1) 100%
  );
  background-attachment: fixed;
}

* {
  font-family: openSans;
}

.cp {
  cursor: pointer;
}