.Flex-box {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.containerFlex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: 30px;
}

.activeUser {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.cardShadow {
  box-shadow: 4px 4px 10px 2px rgb(0 0 0 / 50%);
}

.centerCard {
  height: 30vh;
  width: auto;
}

.bottomBar {
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mainAlignment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 98vh;
}

.myCardsList {
  display: flex;
  flex-direction: row;
  /* FIXME: center and popup cards */
  justify-content: space-evenly;
}

.cardCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomBar.invalidMove > div.cardCenter > img {
  cursor: not-allowed !important;
}

.invalidMove {
  cursor: not-allowed !important;
  filter: brightness(50%);
}

.dot-elastic {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  animation: dot-elastic 1s infinite linear;
}
.dot-elastic-left,
.dot-elastic-right {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-elastic-left {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  animation: dot-elastic-before 1s infinite linear;
}
.dot-elastic-right {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
